.continue-my-review.continue-my-review {
  background-color: var(--light-blue-900);
  margin-right: 0.5rem;
}

.continue-my-review.continue-my-review:hover {
  background-color: var(--blue-900);
}
