.trail-detail{
    display: flex;
}
div.trail-detail *{
    font-size: 12pt;
    font-family: "Lato", sans-serif;
    color: #707479;
}
.inner-columns{
    display: flex;
}
.inner-columns > p{
    padding-left: 2rem;
}
.field-value{
    font-weight: bold;
    color: #333940 !important;
    margin-top: 0.5rem;
}