.columns-container {
  align-items: flex-start;
  background-color: var(--grey-200);
  justify-content: flex-start;
}

.role-select-header {
  height: 3rem;
  background-color: #b1abab;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.refresh-button.refresh-button {
  margin-left: 0.5rem;
  margin-top: -5px !important;
}

.scroll-area {
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
}

.searchIcon {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  height: 10px;
  color: black !important;
}

.searchStyle {
  background-color: white !important;
  border: solid 1px grey !important;
  margin-top: 0.7rem !important;
  height: 2.3rem !important;
  border-radius: 5px;
  width: 180px;
  margin-right: 10rem;
}

.searchStyle input {
  color: black !important;
  margin-left: 2rem;
}

.select-width {
 margin-top: 0.7rem !important;
}

.errormsg {
  margin-top: 1.5rem !important;
  margin-left: 0.7rem !important;
  color: red !important;
  font-size: 1.2rem !important;
}