.columns-container {
  align-items: flex-start;
  background-color: var(--grey-200);
  justify-content: flex-start;
}

.role-select-header {
  height: 3rem;
  background-color: #b1abab;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.refresh-button.refresh-button {
  margin-left: 0.5rem;
}

.scroll-area {
  overflow: auto;
}
