.home-page {
  align-items: center;
  background-color: var(--grey-200);
  flex-direction: column;
  justify-content: center;
}

.home-page span {
  color: var(--grey-500);
  margin-top: 1rem;
  font-weight: 700;
}
