.header {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 0 1rem 2rem;
    display: inline-block !important;
    margin-top: 0 1rem 1rem 1rem!important;
    z-index: 1;
  }

  .loanDocumentTableContainer {
    margin: 1rem !important;
  }

  .loanDocTableHead{
    background: #EFF2F7 !important;
  }
  .loanDocTableBody{
    background: #EFF2F7 !important;
  }
  .loanDocTableFooter{
    background: #EFF2F7 !important;
  }

  .tableCell{
    color: #939299 !important;
  }
  .tableCellHead{
    color: #4E586E !important;
  }