.item {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
}

.title {
  align-self: auto;
  color: var(--grey-590);
  font-size: 1em;
  display: contents;
}

.content {
  color: var(--grey-850);
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
