.item {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1em;
}

.title {
  align-self: auto;
  color: var(--grey-590);
  font-size: 0.9rem;
  display: contents;
}

.content {
  color: var(--grey-850);
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
}

.loan-color {
  color: var(--blue-900);
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.qCReviewContent {
  color: red;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.wrapper {
  display: flex;
  align-items: center;
}

.assupmtor {
  color: red;
  font-size: 1.1rem;
  font-weight: bold !important;
  display: block;
  white-space: pre-line;
  
}

.assumptorTitle {
  color: red;
  align-self: auto;
  font-size: 0.9rem;
  display: contents;
}
