.tableRow {
  margin-top: 1.2rem;
}

.filterDropDown {
  width: 100%;
  text-align: center;
  height: 2.25rem;
  overflow-y: auto;
}

.days-until-sla-red {
  color: #e10c32;
  font-weight: 700;
  margin-top: 1.2rem;
}

.days-until-sla-gray {
  color: #707479;
  font-weight: 700;
  margin-top: 1.2rem;
}

.stagerTable {
  height: 46rem;
  max-width: 83rem;
  margin-left: 0.5rem;
}

.tableHeader.tableHeader {
  font-style: bold;
  font-weight: 700;
  margin-top: 0.8rem;
}
