.ReactTable .rt-thead {
  overflow-y: scroll;
}

.tableRow {
  align-items: center;
}

.filterDropDown {
  width: 100%;
  text-align: center;
  height: 2.25rem;
  overflow-y: auto;
}

.stagerTable {
  height: 62rem;
}
