.tableRow {
  margin-top: 1.4rem;
}

.filterDropDown {
  width: 100%;
  text-align: center;
  height: 2.25rem;
  overflow-y: auto;
}

.days-until-sla-red {
  color: #e10c32;
  font-weight: 700;
  margin-top: 1.4rem;
}

.stagerTable {
  height: 62rem;
}
