.formMargin {
  margin: 1.5rem 1rem 1rem 1.5rem !important;
  font-size: 14px !important;
}

.box {
  margin: 1rem 1rem 1rem 1rem !important;
}

.paper {
  height: fit-content;
  width: fit-content;
  padding: 1rem 1rem 1rem 1rem !important;
}

.heading {
  font-size: 16px !important;
  font-weight: bold !important;
  margin: 1rem 1rem 1rem 2rem !important;
}

.fullWidth {
  width: 90%;
  margin: 0 3rem 0 0 !important;
}

.rightAllignment {
  display: flex;
  padding-right: 3em !important;
  padding-top: 1.5em !important;
}

.divider {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.paperTable {
  width: 100%;
  overflow: hidden;
}

.tableTitle {
  margin-bottom: 1rem !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.rightBox {
  padding: 2% 2% 2% 2%;
}

.rootGrid {
  height: 100%;
}

.leftBox {
  margin: 2% 5% 5% 5%;
  background-color: #f3f5f9 !important;
  border-radius: 10px;
}

.rfdTable {
  height: 100% !important;
  width: 100% !important;
}

.closeIcon {
  margin: 0 0 0 4rem !important;
}

.saveButton {
  background-color: #596feb !important;
  color: white !important;
  width: 6rem;
  height: 2.5rem;
  border-radius: 5px !important;
  margin: 0 0 1rem 21rem !important;
}

.disabledSaveButton {
  width: 6rem;
  height: 2.5rem;
  border-radius: 5px !important;
  margin: 0 0 1rem 21rem !important;
}

.requiredField {
  color: red;
}

.errorIcon {
  float: right !important;
}

.errorSvg {
  width: 4rem !important;
  height: 1.5rem !important;
  margin-top: 0.5rem;
}
