.content-header {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  min-height: 3.75rem;
}

.content-header > * {
  margin: 0;
  margin-left: 1rem;
}

.title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
}

.spacer {
  flex-grow: 1;
}

.get-next.get-next {
  background-color: #01579b;
  margin-right: 1rem;
}

.get-next.get-next:hover {
  background-color: #002f6c;
}
