.content-header {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  min-height: 3.75rem;
}

.content-header > * {
  margin: 0;
  margin-left: 1rem;
}

.title.title {
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-size: 1.25rem !important;
  width: 100% !important;
}

.spacer {
  flex-grow: 1;
}

.tooltip.tooltip {
  font-size: 0.8rem;
}
