.accordian-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem 0rem;
}

.selected {
    background-color: #BBC6E2 !important;
}

.left-header {
    display: flex;
    align-items: center;
}

.right-header{
    display: flex;
    margin-right: 1rem;
}

.typography {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    color: #4E586E;
    font-family: Lato;
    letter-spacing: 0em;
}

.doc-container {
    border-radius: 1rem !important;
    margin-top: 1rem !important;
}

.doc-disable {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}

.doc-components {
    display: flex;
}

.accordian-content {
    width: 80%;
}

.doc-review{
    margin-left: 1rem;
}

.doc-reason{
    margin-left: 2rem;
}

.doc-expiration{
    margin-left: 3rem;
}

.doc-comments {
    display: flex;
    margin-left: 3rem;
}

.styleName{
    width: 20%;
}

.checkbox-component{
    display: grid; 
    height: 17rem;
    overflow: auto;
}

.done-button{
    margin-top: 1rem !important;
    width: 20%;
}

.comment{
    margin-left: 1rem !important;
    height: 0.313rem !important;
}

.checkbox-list {
   padding: 1rem;
}

.editText {
    display: flex;
}
                
.linked-typography {
    margin-left: 1rem !important;
}

.linked-docs {
    display: flex;
    overflow: auto;
}

.linked-docs::-webkit-scrollbar {
    height: 5px;
}

.document-container {
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;
    background-color: #f3f5f9;
    border: 2px dotted #4E586E;
}

.linked-docs-contianer {

}

.linked-doc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 0.5rem;
    max-height: 2.5rem;
}

.linked-doc-para {
    margin: 0rem 0.5rem;
}

.documents-container {
    margin: 10px;
    border: 2px dotted black;
    padding: 5px;
    background: #f3f5f9;
}

.linked-doc-title{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #939299;
    margin: 5px;
}
.linked-doc-value{
    font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4e586e;
}

.linked-doc-content{
    display: flex;
    align-items: center;
    max-height: 2rem;
}

.linked-doc-header-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4e586e;
}
.cursor {
    cursor: pointer;
}

.error {
    border: 1px solid #e4002b !important;
}

.docReviewError{
    border-left: 4px solid #E4002B;
    margin-bottom: 12px;
    padding-left: 7px;
}

.expirationDateError {
    border-left: 4px solid #E4002B;
    margin-bottom: 12px;
    padding-left: 7px;
}

.no-data{
    font-size: 16px !important; 
    font-weight: 700 !important;
    color: '#4e586E';
    padding: 16px 0px 16px 24px; 
  }

.link-doc-button {
    padding: 2px 5px !important;
    border-radius: 3px !important;
    color: #fff !important;
    margin-right: 8px !important;
    background: linear-gradient(90deg, #6a81f0 0%, #4155e2 100%);
}

.link-doc-button-disable {
    padding: 2px 5px !important;
    border-radius: 3px !important;
    margin-right: 8px !important;
    font-weight: 700 !important;
}
