.left-nav-bar {
  align-items: center;
  background-color: black;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  list-style-type: none;
  width: 4rem;
}

.left-nav-bar > * {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  width: 4rem;
}

.left-nav-bar > * > * {
  width: 2rem;
}

.left-nav-bar > *:hover {
  background-color: #3d4658;
}

.active-bar {
  background-color: #3d4658;
}

.stretch-column {
  display: flex;
  flex-direction: column;
}
