.left-nav-bar {
  align-items: center;
  background-color: Black;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  width: 4rem;
}

.left-nav-bar > * {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  width: 4rem;
}

.left-nav-bar > * > * {
  width: 2rem;
}

.left-nav-bar > *:hover {
  background-color: var(--grey-850);
}

.stretch-column {
  display: flex;
  flex-direction: column;
}
