.add-task.add-task {
    background-color: var(--dark-lime-green);
    border-radius: 10px;
    width: 35%;
    height: 2rem;
    min-height: 0.25rem;
    padding: 0px;
    margin: 0.75rem 0.5rem 0.5rem 5.5rem;
  }

  .add-task span {
    justify-content: left;
  }
  
  .add-task.add-task:hover {
    background-color: var(--dark-lime-green);
  }
  