.back-to-all-tasks.back-to-all-tasks {
    background-color: var(--dark-lime-green);
    border-radius: 10px;
    width: 35%;
    height: 2rem;
    min-height: 0.25rem;
    padding: 0px;
    margin: 0.75rem 0.5rem 0.5rem 5.5rem;
  }

  .back-to-all-tasks span {
    justify-content: left;
  }
  
  .back-to-all-tasks.back-to-all-tasks:hover {
    background-color: var(--dark-lime-green);
  }
  