.taskpane {
  align-self: flex-start;
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  transition: width 250ms ease-in;
}

.task-pane-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.task-pane-controls-collapsed {
  justify-content: space-around;
}

.status-select-field-span {
  display: inline-flex;
  margin-left: 1.5rem;
}

.status-select-field-text {
  font-size: 4px !important;
}

.collapse-icon-open:focus {
  outline: none;
}

.collapse-icon-closed:focus {
  outline: none;
}

.stretch-column {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.error-indicator {
  color: var(--red-a700);
  margin: auto;
}

.loader {
  margin: auto;
}
