{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "55"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "babel-plugin-react-css-modules",
      {
        "context": "./src",
        "generateScopedName": "[path][name]__[local]--[hash:base64:5]",
        "handleMissingStyleName": "throw",
        "webpackHotModuleReloading": true
      }
    ]
  ]
}