.checklist {
  margin: 0 auto;
}

.scrollable-checklist {
  flex-basis: 0;
  flex-grow: 1;
  overflow: auto;
}

.checklist-form-controls {
  padding: 1.5rem;
}

.checklist-form-controls.checklist-form-controls > * {
  display: block;
  margin-bottom: 0.5rem;
}

.checklist-form-controls > *:last-child {
  margin-bottom: 0;
}

.checklist-title.checklist-title {
  color: var(--grey-650);
  margin: 1rem 0;
}

.tooltip {
  font-size: 0.8rem;
}
