.checklist {
  margin: 0 auto;
}

.scrollable-checklist {
  flex-basis: 0;
  flex-grow: 1;
  overflow: auto;
}

.checklist-form-controls {
  padding: 1.5rem;
}

.checklist-form-controls.checklist-form-controls > * {
  display: block;
  margin-bottom: 0.5rem;
}

.checklist-form-controls > *:last-child {
  margin-bottom: 0;
}

.checklist-title.checklist-title {
  color: var(--grey-650);
  margin-top: 1rem;
  width: 90%;
  font-size: 1.1rem;
  text-align: justify;
  font-weight: bold;
}

.subTaskDescription.subTaskDescription{
  flex-grow: 4;
  flex-basis: 0; 
  width: 100px; 
  word-wrap: break-word;
}

.clearButton.clearButton{
  flex-grow: 0;
  flex-basis: 0;
  align-self: flex-end
}

.subTaskDescParent.subTaskDescParent{
  display: flex;
  flex-direction: row;
  width: 100%
}

.tooltip {
  font-size: 0.8rem;
}
