.radio-control.radio-control {
  margin: 0;
}

.radio-control-label.radio-control-label {
  color: #000;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.radio-control-bubble.radio-control-bubble {
  padding: 0.5rem;
}

.radio-control-bubble.radio-control-bubble svg {
  fill: var(--mr-navy);
  height: 0.75em;
  width: 0.75em;
}

.radio-control-option-label.radio-control-option-label {
  color: var(--grey-650);
}

.radio-control-option-black.radio-control-option-black {
  color: var(--black) !important;
}

.radio-control-option-red.radio-control-option-red {
  color: #ff8080 !important;
}
