.text-label.text-label {
  color: #4e586e;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.componentMargin.componentMargin {
  margin-top: 0.5rem;
}

.componentMargin.componentMargin div > input {
  padding: 5.5px 5px;
}

.dropDownStyle {
  min-width: 25rem !important;
  border: 0.13rem solid black !important;
}

.dropDownMenuStyle {
  min-width: 25rem !important;
  border: 0.1rem solid black !important;
}

.dropdownSelectStyle {
  min-width: 25rem !important;
  padding: 0.5rem !important;
  color: var(--grey-650) !important;
}

.doc-text{
  width: 15rem !important;
  text-align: left;
  max-width: 94%;
}

.doc-add-contrib-title {
  width: 7rem;
  margin: 0rem 0rem 0rem 1rem;
}

.doc-chk-text {
  width: 14rem !important;
  text-align: right;
  max-width: 94%;
}