.end-shift.end-shift {
  box-sizing: border-box;
  height: 2.5rem;
  background: #fff;
  border: 2px solid #596feb;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #596feb;
  margin-right: 1.5rem;
}

.end-shift-disabled.end-shift-disabled {
  box-sizing: border-box;
  height: 2.5rem;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-right: 1.5rem;
}
