.checklist {
  margin: 0 auto;
}

.scrollable-checklist {
  flex-basis: 0;
  flex-grow: 1;

  /* overflow: auto; */
}

.buttonStyle {
  display: block;
}

.checklist-form-controls {
  padding: 1.5rem;
  box-shadow: none !important;
}

.checklist-form-controls.checklist-form-controls > * {
  display: block;
  margin-bottom: 0.5rem;
}

.checklist-form-controls > *:last-child {
  margin-bottom: 0;
}

.checklist-title.checklist-title {
  color: var(--grey-650);
  margin-top: 1rem;
  font-size: 1rem;
  text-align: justify;
  font-weight: bold;
  margin-left: -6rem;
  margin-right: -7rem;
  display: flex;
  justify-content: center;
}

.subTaskDescription.subTaskDescription {
  flex-grow: 4;
  flex-basis: 0;
  width: 100px;
  word-wrap: break-word;
}

.clearButton.clearButton {
  flex-grow: 0;
  flex-basis: 0;
  align-self: flex-end;
}

.clearButtonWithPushData {
  flex-grow: 0;
  flex-basis: 0;
  align-self: flex-end;
  margin: 0 37rem 0 0;
}

.subTaskDescParent.subTaskDescParent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tooltip.tooltip {
  font-size: 0.8rem;
}

.text-label {
  width: 200;
}

.text-label.text-label {
  color: #000;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.radio-control-label.radio-control-label {
  color: #000;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.componentMargin.componentMargin {
  margin-top: 0.5rem;
}

.displayInRow {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  align-content: space-between !important;
  background-color: #dedede !important;
  padding: 1rem !important;
  box-shadow: none !important;
}

.componentMargin.componentMargin div > input {
  padding: 5.5px 5px;
}

.calcDivider {
  height: 2rem !important;
  color: #eee !important;
}

.income-cont-chk {
  display: flex;
}