.message {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  color: crimson;
}

.report {
  height: 100%;
}

.report iframe {
  border: none;
}
