.westWingWidgetContainer {
  margin: 0.5rem;
  width: 99% !important;
}

.westWidget{
  overflow: hidden !important;
}

.westWing {
  height: 47rem !important;
  overflow: scroll;
}

.westWing::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.containerBackground {
  background-color: #f3f5f9;
  border-radius: 10px !important;
}

.incomeDetails {
  margin: 0rem 0rem 0.5rem 0.5rem !important;
}

.propertyInfo {
  margin: 0rem 0rem 0rem 0.5rem !important;
}

.otherInfo {
  margin: 0.5rem 0rem 0rem 0rem !important;
}

.otherInfoContanier {
  height: 6rem !important;
  display: flex !important;
  justify-content: space-between !important;
}

.stipInfo {
  border-right:  0.5rem solid white !important;
  border-radius: 20px !important;
}

.header {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 0 1rem 2rem;
    display: inline-block !important;
    margin-top: 0 1rem 1rem 1rem!important;
    z-index: 1;
  }
  .item {
    box-sizing: border-box !important;
    display: inline-flex !important;
    flex-direction: column !important;
    text-align: left !important;
    margin: 1rem !important;
    margin-left: 1.5rem !important;
    margin-right: 2.5rem !important;
  }
  
  .title {
    align-self: auto;
    color: #939299;
    font-size: 0.75rem;
    display: contents;
  }
  
  .content {
    color: #4E586E;
    font-size: 14px !important;
    font-weight: bold;
    display: block;   
    margin-top: 0.3rem;
}

.westwingTable{
  display: flex !important;
  justify-content: space-between;
}

.comments {
  margin: 0.5rem 0rem 0rem 1.9rem !important;
}

.noRows{
  align-items: center !important;
  justify-content: center !important;
}

.commentTitle {
     align-self: auto;
    color: #939299;
    font-size: 1rem;
    display: contents;
}

.textField {
  margin-top: 0.5rem !important;
}

.send {
  background: linear-gradient(90deg, #6a81f0 0%, #4155e2 100%);
  border-radius: 10px;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 15px;
  margin:1rem !important;
}

.send-disable {
  border-radius: 10px;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 15px;
  margin:1rem !important;
}

.decisionTxt {
  color: #4E586E;
  font-size: 14px !important;
  font-weight: bold;
  display: block;
  margin-top: 0.3rem;
}