.icon {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.expand-more {
  height: 15px !important;
  width: 15px !important;
  float: right !important;
}

.expand-less {
  height: 15px !important;
  width: 15px !important;
  color: black !important;
}

.align-icon {
  display: flex !important;
}

.expand {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  overflow-wrap: break-word !important;
  align-items: center;
  white-space: nowrap;
}

.collapse {
  align-items: center;
  white-space: pre-wrap;
}
