.disposition-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0.75rem;
  max-width: 50rem;
}

.disposition-section > * {
  margin-top: 1.25rem;
}

.title {
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 1.25rem;
}

.save-button.save-button {
  align-self: center;
  margin-top: 1.25rem;
}

.scrollable-block {
  align-self: stretch;
  margin: 0 auto;
  overflow: auto;
}

.comment-box textarea {
  border-radius: 0;
  height: 8.875rem;
  width: 49.0625rem;
  font-size: 0.9rem;
  padding: 0.46875rem 0.5rem;
}

.red-box textarea {
  border-radius: 0;
  height: 8.875rem;
  width: 49.0625rem;
  font-size: 0.9rem;
  padding: 0.46875rem 0.5rem;
  border-color: red;
}

.prompt-error {
  color: red;
}
