.columns-container {
  align-items: flex-start;
  background-color: var(--grey-200);
  justify-content: flex-start;
}

.loan-audit-container {
  align-items: flex-start;
  justify-content: flex-start;
}

.title-row {
  /* width: 50rem; */

  /* float: left; */
  padding: 0 30% 0 20%;
}

.title-row > :last-child {
  border-radius: 0;
}
