.columns-container {
  align-items: flex-start;
  background-color: white;
  justify-content: flex-start;
  border-radius: 10px;
  margin-right: 1rem;
}

.loan-audit-container {
  align-items: flex-start;
  justify-content: flex-start;
}

.title-row {
  /* width: 50rem; */

  /* float: left; */
  padding: 0 30% 0 20%;
}

.title-row > :last-child {
  border-radius: 0;
}

.milestone-tracker {
  margin-bottom: 1rem;
}

.main-panel {
  height: 95%;
  display: flex;
  flex-direction: 'row';
  width: 85%;
  margin: 1rem 0rem 0rem 1rem;
}