.evalTable.evalTable {
  text-align: left;
  flex-basis: 100%;
  height: 0;
}

.header-style {
  padding-left: 1.6375rem;
  padding-top: 0.25rem;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #707479;
}

.title-style {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  color: black;
  font-weight: bold;
  padding: 2rem;
}

.tableData-style {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1.6375rem;
}

.widgetHeaderAndContent {
  border-bottom: 1px solid rgb(181, 184, 189);
  padding: 10px;
}
