.container {
    max-height: 653;
    border-bottom: 0 !important;
}

.tableStyle {
    width: auto;
    table-layout: auto;
}

.head {
    max-height: 10;
    background: #f7f7f7;
}

.headStyle {
    color: grey !important;
    text-align: center !important;
}

.footer {
    height: 10;
    max-height: 0;
    overflow: unset;
}

.footer>td>div {
    height: 10;
    min-height: 10;
}