.root>* {
    border-bottom: unset;
}

.rowStyle {
    font-size: 9.5px;
}

.statusDateStyle {
    font-size: 8px;
}

.setBackground {
    background: rgb(229, 248, 251);
}

.historyTable {
    padding-bottom: 0;
    padding-top: 0;
}