.collapse-icon-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
  white-space: nowrap;
  width: 1.875rem;
}

.shift-left {
  position: absolute;
  left: 0.375rem;
}
