.body-container {
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.body {
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  flex-grow: 1;
}
