.box {
  display: flex;
  flex-direction: column;
}

.collapse-box {
  height: 7.5em !important;
  overflow: auto !important;
}

.collapse-expand-box {
  height: 11.5em !important;
  overflow: auto !important;
}

.show-all-button {
  font-weight: bold !important;
  cursor: pointer;
  color: #596feb !important;
  margin-left: 1.3rem !important;
}

.show-less-button {
  font-weight: bold !important;
  cursor: pointer;
  color: #596feb !important;
  margin-left: 0.9rem !important;
}

.collapse-text {
  font-size: 0.8rem !important;
  line-height: 1.5rem !important;
  font-weight: bold !important;
}

.collapse-date {
  font-size: 0.8rem !important;
  color: #707479;
  line-height: 1.5rem !important;
}
