.heading {
    font-size: 16px !important;
    font-weight: bold !important;
    margin: 1rem 1rem 1rem 2rem !important;
  }
  
  .closeIcon {
    margin: 0 0 0 4rem !important;
  }
  
  .radio-group-paper {
    width: 92% !important;
    margin: auto;
    overflow-y: scroll;
    height: 50rem;
    margin: 0rem 0.5rem 1.5rem 2.5rem;
    background-color: white !important;
  }
  
  .radio-group-elements {
    padding: 0.5rem 0rem 0rem 2rem;
    color: #4e586e;
    display: flex;
    font-style: normal;
    font-weight: 800 !important;
    font-size: 1.1rem !important;
    line-height: 1.5rem !important;
  }
  
  .select-reason-text {
    padding: 1.5rem 0rem 0rem 2.5rem;
    color: #4e586e;
    display: flex;
    font-style: normal;
    font-weight: 800 !important;
    font-size: 1.1rem !important;
    line-height: 1.5rem !important;
  }
  
  .comments-text {
    padding-top: 1.5rem;
    color: #4e586e;
    display: flex;
    font-style: normal;
    font-weight: 800 !important;
    font-size: 1.1rem !important;
    line-height: 1.5rem !important;
  }
  
  .comments-text-disabled {
    padding-top: 1.5rem;
    color: grey;
    display: flex;
    font-style: normal;
    font-weight: 800 !important;
    font-size: 1.1rem !important;
    line-height: 1.5rem !important;
  }
  
  
  .comments-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .submit-style {
    width: 15%;
    margin: 1rem 2.3rem 0rem auto !important;
    height: 1.75rem;
    background: linear-gradient(90deg, #6a81f0 0%, #4155e2 100%);
    border-radius: 5px !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 13px !important;
    line-height: 15px !important;
  }
  
  .submit-style:disabled {
    width: 15%;
    margin: 1rem 2.3rem 0rem auto !important;
    height: 1.75rem;
    background: grey;
    border-radius: 5px !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 13px !important;
    line-height: 15px !important;
  }
  
  .comment-textbox {
    width: 95%;
    margin: auto;
    background-color: white;
  }
  
  .comment-textbox-disabled {
    width: 95%;
    margin: auto;
    background-color: unset !important;
  }
  
  .loader {
    margin-top: 48%;
    margin-left: 48%;
    position: relative;
  }