.tombstone {
  align-items: center;
  background-color: var(--grey-100);
  border-bottom: solid 0.0625rem var(--grey-400);
  box-sizing: border-box;
}

.more-icon-button {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  vertical-align: inherit;
}

.more-icon {
  color: var(--grey-850);
}

.spacer {
  flex-grow: 1;
}

.icon.icon {
  color: var(--grey-900);
  font-size: 1.125rem;
}

.menuItemRoot.menuItemRoot {
  height: fit-content;
  max-height: 70%;
  width: fit-content;
  overflow-y: scroll;
  margin-top: 5rem;
  right: 0;
}

.menuItemContent {
  font-weight: bold;
  font-size: 1.2rem;
}

.menuItem.menuItem {
  cursor: default;
  opacity: 1;
}

.itemTd {
  border-right: dashed 0.0625rem var(--grey-350);
  text-align: center;
  vertical-align: center;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.tombstone-table {
  height: 100%;
}

.highlight {
  background-color: red;
  border-right: dashed 0.0625rem var(--grey-350);
  text-align: center;
  vertical-align: center;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}