.tombstone {
  align-items: center;
  background-color: var(--grey-100);
  border-bottom: solid 0.0625rem var(--grey-400);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  min-height: 3.5625rem;
}

.spacer {
  flex-grow: 1;
}

.icon.icon {
  color: var(--grey-900);
  font-size: 1.125rem;
}
