.tombstone {
  align-items: center;
  background-color: var(--grey-100);
  border-bottom: solid 0.0625rem var(--grey-400);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 5rem !important;
}

.more-icon-button {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  vertical-align: inherit;
}

.more-icon {
  color: var(--grey-850);

}

.spacer {
  flex-grow: 1;
}

.icon.icon {
  color: var(--grey-900);
  font-size: 1.125rem;
}

.menuItemRoot {
top: 107.4304px!important;
right: 0px!important;
}


.itemTd {
  border-right: dashed 0.0625rem var(--grey-350);
  text-align: center;
  vertical-align: center;
  flex-direction: column;
  height: 100%;
}

MenuItem {
   cursor: 'default'; 
   opacity: 1 ;
}

table {
  height: 5rem;
}
