.tombstone-loader {
  align-items: center;
  background-color: var(--grey-100);
  border-bottom: solid 0.0625rem var(--grey-400);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 3.5625rem;
}
