.btn-container {
  padding: 6px;
}
.icon-view {
  padding: 5px 10px!important;
}

.icon-view-disabled {
  padding: 5px 10px!important;
  pointer-events: none;
  opacity: 0.5;
}

.icon-view svg{
  width: 1.5rem;
}