.text-label.text-label {
    color: #000;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.componentMargin.componentMargin {
    margin-top: 0.5rem;
}

.dropDownMenuStyle {
    min-width: 25rem !important;
    border: 0.1rem solid black !important;
}

.min-width {
    width: 80rem !important
}

.componentMargin.componentMargin div>input {
    padding: 5.5px 5px;
}

.dropDownStyle {
    min-width: 25rem !important;
    border: 0.13rem solid black !important;
}

.marginright {
    margin-right: 1rem !important;
    background-color: white !important;
}

.custom {
    margin-right: 0rem;
}

.inc-text {
    width: 15rem !important;
    text-align: right;
}

.gytd-text {
    width: 14rem !important;
}

.ga-text {
    width: 15rem !important;
}

.reason-for {
    margin: 1rem 0rem 0rem 2rem;
}

.reason-for-value {
    margin-left: 0.3rem;
    font-weight: 600;
}

.commentBox {
    margin: 2rem 2rem 0rem 2rem;
}

.pay-periods-text {
    width: 15rem !important;
    margin-top: 1rem !important;
    text-align: right;
}

.we-bs-gross {
    width: 15rem !important;
    text-align: right;
    background-color: #eee;
}

.disabled {
    width: 15rem !important;
    text-align: right;
    background-color: #eee;
}

.text-with-placeholder {
    width: 17rem !important;
    background-color: white;
}


.pitia-amt-title {
    width: 10rem;
}

.pitia-amt{
    width: 17rem !important;
}

.pay-period-textField {
    width: 15rem;
    margin: 1rem 0rem 1rem 2rem !important;
}

.pay-periods-title {
     width: 20rem;
     margin-top: 1rem;
     margin-left: -0.5rem;
}

.ri-total-text {
    font-weight: 500;
}

.read-only-value {
    font-weight: 600;
    padding-left: 0.5rem;
}

.display-in-row {
    display: flex;
    align-items: center;
}


.mrla-text {
    width: 15rem !important;
    margin-left: 1rem !important;
}

.mrla-title {
    margin: 0;
}

.ri-title{
    margin: 0;
    font-size: 0.75rem;
}

.ri-label{
    margin: 0;
    font-weight: 510;
}

.ri-div-label {
    margin-left: 1rem !important;
}

.weekly-amt {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 1rem 1.5rem;
    padding-bottom: 1rem;
}

.weekly-text {
    margin-left: 2rem !important;
}

.monthly-text {
    margin-left: 1rem;
    font-size: 9px;
    /* width: 100%; */
    margin-right: 2rem;
}

.monthly-inc {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1rem;
}

.se-total-text {
    font-weight: 500;
} 

.se-nom {  
    width: 16.5rem !important;
}

.se-pao {  
    width: 16.5rem !important;
}

.se-nom-div {
    margin-left: 2.5rem !important;
    display: flex;
    margin-top: 1rem;
}

.se-nom-title {
    width: 15rem !important;
    margin-top: 1rem !important;
}

.se-amount-div {
    margin-left: 2.5rem !important;
    display: flex;
    margin-top: 1rem;
}

.se-amount-title {
    width: 15rem !important;
    margin-top: 1rem !important;
}

.se-total {
    margin: 0rem;
}

.se-total-value {
    font-weight: 800;
    font-size: 1.4rem;
    margin: 0rem;
}

.cnsdt-net {
    align-items: center;
}

.cnsdt-net-value {
    margin: 0;
    font-weight: 500;
    font-size: 1.6rem;
}

.cnsdt-net-title {
    font-weight: 350;
    font-size: 1rem;
    margin: 1rem 0rem 0rem 0rem;
}

.cnsdt-income-div {
    justify-content: center;
}
