.popup {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.popup-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.popup-title h2 {
  padding-left: 2rem;
}