.alert-box {
  align-items: center;
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0.5rem;
  width: 100%;
}

.banner-error {
  composes: alert-box;
  background-color: #e53935;
  border: solid 0.125rem var(--red-600);
  color: white;
  font-size: 1.5rem !important;
}

.banner-success {
  composes: alert-box;
  background-color: #3935;
  border: solid 0.125rem var(--red-600);
  color: white;
  font-size: 1.5rem !important;
}

.banner {
  composes: alert-box;
  background-color: black;
  border: solid 0.125rem var(--red-600);
  color: white;
  font-size: 1.5rem !important;
}

.btnOk {
  margin-left: 7rem !important;
  color: white;
}

.message {
  padding-left: 0.5rem;
}

.btnOKClr {
  color: white !important;
  font-size: 1.5rem !important;
  cursor: pointer;
}
