.popup {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.confirm-button {
  justify-content: space-around;
  display: flex;
  width: 20rem;
}

.message {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}