.accordian-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem 0rem;
}

.selected {
    background-color: #BBC6E2 !important;
}

.left-header {
    display: flex;
    align-items: center;
}

.left-header button {
    padding: 2px;
    min-width: 55px;
    margin: 0 10px;
}

.right-header {
    display: flex;
    margin-right: 1rem;
}

.doc-container {
    border-radius: 1rem !important;
    margin-top: 1rem !important;
}

.typography {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    color: #4E586E;
    font-family: Lato;
    letter-spacing: 0em;
    font-size: 14px;
}

.cursor {
    cursor: pointer;
}

.linked-document-container {
    border: 1px dashed #4E586E;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 0 10px 10px;
    display: inline-block;
    position: relative;
    background-color: #F3F5F9;
}

.linked-document-container button {
    padding: 0;
    position: absolute;
    right: 4px;
}

.linked-document-container button svg {
    font-size: 18px !important;
}

.linked-document-container h2 {
    font-size: 14px;
    color: #4E586E;
    padding: 0;
    font-weight: 400;
    margin-bottom: 2px;
    width: calc(100% - 20px);
}

.linked-document-container p {
    font-size: 12px;
    color: #939299;
}

.linked-document-container p span {
    color: #4E586E;
    display: inline-block;
    margin-left: 4px;
}

div[class*="body-container"]>section {
    overflow: initial;
}

.no-data {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: '#4e586E';
    padding: 16px 0px 16px 24px;
}

.doc-disable {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}

.selected {
    background-color: #E4E9F5 !important;
}

.error {
    border: 1px solid #e4002b !important;
}

.link-doc-button {
    padding: 2px 5px !important;
    border-radius: 3px !important;
    color: #fff !important;
    margin-right: 8px !important;
    background: linear-gradient(90deg, #6a81f0 0%, #4155e2 100%);
}

.link-doc-button-disable {
    padding: 2px 5px !important;
    border-radius: 3px !important;
    margin-right: 8px !important;
    font-weight: 700 !important;
}