.landing-page {
  align-items: center;
  background-color: var(--grey-200);
  flex-direction: column;
  justify-content: center;
}

.landing-page span {
  color: var(--grey-500);
  margin-top: 1rem;
  font-weight: 700;
}

.message {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  color: crimson;
}

.report {
  height: 100%;
}

.report iframe {
  border: none;
}

.error-message {
  color: #a6a6a6;
  font-family: 'Segoe UI Semilight', wf_segoe-ui_semilight, helvetica, arial, sans-serif;
  font-size: 22px;
  text-align: center;
  position: relative;
  top: 40vh;
}
