.drop-down-select {
  width: 90%;
  margin: 1rem 1rem 1rem 0.75rem;
  background-color: white !important;
  height: 3rem !important;
}

.requestCategoryDropdown {
  font-size: 14px !important;
  display: flex;
  color: #4E586E;
}

h2.title {
  font-size: 16px;
  font-weight: 700;
  display: inline-flex;
  color: #4E586E;
}

.divider {
  margin-bottom: 2rem;
}

.inputLblSelected {
  display: none !important;
}

.inputLbl {
  display: block !important;
}

.fhlmcDropDown {
  width: 40% !important;
  margin-top: 1em !important;
}

.errorIcon {
  margin-left: 1rem;
}

.errorSvg {
  height: 1.5rem !important;
}

.eligible {
  margin: 0.5rem 0 0 2rem !important;
}

.passedTab {
  color: #0CA148;
  font-size: small !important;
  margin-right: 0.5rem !important;
}

.failedTab {
  color: red;
  font-size: small !important;
  margin-right: 0.5rem !important;
}

.failed {
  color: red;
  font-size: medium !important;
}

.passed {
  color: #0CA148;
  font-size: medium !important;
}

.modHistory {
  float: right;
  margin: -20px 10px 0px 10px;
  cursor: pointer;
}

.table {
  flex-basis: 60%;
  text-align: left !important;
}

.exception-indicator {
  font-size: 1.25rem;
  margin: 1rem 0 0 1rem !important;
}

.enquiry-caseId {
  font-size: 1.25rem;
  margin: 1rem 0 0 1rem !important;
}

.exception-indicator-comments {
  font-size: 1.25rem;
  margin: 1rem 0 0 1rem !important;
}

.textarea-comments {
  height: 66px !important;
  width: 98%;
  margin: 1rem 0rem 2rem 0;
  font-size: 1.25rem !important;
  border: 1px solid #E0E4EF;
  border-radius: 4px;
}

.status-details-parent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top: 16px;
}

.request-type-container {
  background: #F3F5F9;
  border-radius: 10px;
  padding: 12px;
  margin: 4px 0 12px 0;
}

button.btn-tabs {
  background-color: white;
  color: #4E586E;
  text-transform: capitalize;
  padding: 8px 16px;
  font-size: 12px;
  text-transform: capitalize;
  margin-right: 12px;
  min-width: 100px;
}

button.btn-tabs.active {
  border-color: #596FEB;
  color: #596FEB;
  background-color: transparent;
}

.radio-container div[class*="PrivateRadioButtonIcon"] svg {
  height: 18px;
  width: 18px;
}

.radio-container div[class*="MuiFormGroup-root"] {
  margin: 10px 5px;
}

.radio-container span[class*="MuiRadio-root"] {
  padding: 6px;
}

.radio-container span[class*="MuiFormControlLabel-label"] {
  font-weight: 600;
  font-size: 12px;
  color: #4E586E;
}

.radio-container legend {
  font-size: 14px;
  color: #4E586E;
}

.d-flex {
  display: flex;
  align-items: center;
}

.cstmBtnErrSvg {
  width: 2rem !important;
  height: 2rem !important;
  margin: 0 0 -0.75rem 0 !important;
}

.request-type-container {
  background: #F3F5F9;
  border-radius: 10px;
  padding: 12px;
  margin: 10px 0 12px 0 !important;
}

.submit {
  margin-right: 1rem !important;
  padding: 1rem;
  width: 100% !important;
}

.fhlmc-btn-container{
  display: flex;
}

.btns-container{
  width: 41em;
  margin: 0.5rem;
}