
.drop-down-select {
  width: 100%;
  margin: 1rem 11rem 2rem 0.75rem;
  background-color: white !important;
  height: 3rem !important;
}

.requestCategoryDropdown {
  margin: 1.75rem 0 0 1rem !important;
  font-size: 1.25rem !important;
}

.title {
  color: black !important;
  font-size: 2rem !important;
  margin: 1rem 1rem 1rem 1rem !important;
  display: inline-flex;
}

.divider {
  margin-bottom: 2rem;
}

.inputLblSelected {
  display: none !important;
}

.inputLbl {
  display: block !important;
}

.errorIcon {
  margin-left: 5rem;
}

.errorSvg {
  width: 8.5rem !important;
  height: 1.5rem !important;
}

.errorSvgSelected {
  width: 14rem !important;
  height: 1.5rem !important;
}

.eligible {
  margin: 0 0 0 2rem !important;
}

.passedTab {
  color: green;
  font-size: small !important;
  margin-right: 0.5rem !important;
}

.failedTab {
  color: red;
  font-size: small !important;
  margin-right: 0.5rem !important;
}

.failed {
  color: red;
  font-size: medium !important;
}

.passed {
  color: green;
  font-size: medium !important;
}

.modHistory {
  float: right;
  margin: -20px 10px 0px 10px;
  cursor: pointer;
}

.table {
  flex-basis: 60%;
  text-align: left !important;
}
