.widget-builder {
  height: inherit;
}

.widget-main-center-open {
  overflow: auto;
  height: 100%;
  margin-right: 18.4375rem;
  position: absolute;
}

.widget-main-center-close {
  overflow: auto;
  height: 100%;
  margin-right: 3.625rem;
  position: absolute;
}

.widget_builder_container {
  height: 100%;
}

.show {
  width: 4.8rem;
  height: calc(100% - 4.688rem);
  overflow: auto;
  position: fixed !important;
  overflow-x: hidden;
  overflow-y: hidden;
  background: rgb(242, 242, 242);
  right: 0;
  margin-bottom: 0;
  stroke: auto;
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
}

.showAV {
  width: 4.8rem;
  height: calc(100% - 4.688rem);
  overflow: auto;
  position: fixed !important;
  overflow-x: hidden;
  overflow-y: hidden;
  background: rgb(242, 242, 242);
  right: 0;
  margin-bottom: 0;
  margin-top: 6.2rem;
  z-index: 100;
  stroke: auto;
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
}
