.comment-area-bottom {
  height: calc(100% - 4rem);
  width: 100%;
  overflow: auto;
}

.right-app-bar {
  margin-bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background: white;
  display: inline-flex;
  right: 4.9rem;
  width: 32rem;
  height: calc(100% - 4.688rem);
  position: fixed !important;
}

