.widget-builder {
  height: inherit;
}

.widget-main-center-open {
  overflow: auto;
  height: 100%;
  margin-right: 18.4375rem;
  position: absolute;
}

.widget-main-center-close {
  overflow: auto;
  height: 100%;
  margin-right: 10.625rem;
  position: absolute;
}

.widget_builder_container {
  height: 100%;
}

.show {
  width: 4.2rem;
  height: 74.5%;
  overflow: auto;
  position: fixed !important;
  overflow-x: hidden;
  overflow-y: hidden;
  background: white;
  right: 0;
  margin-bottom: 0;
  stroke: auto;
  border-radius: 0.5rem;
}

.showAV {
  width: 4.2rem;
  height: 80%;
  overflow: auto;
  position: fixed !important;
  overflow-x: hidden;
  overflow-y: hidden;
  background: white;
  right: 0;
  margin-top: 7rem;
  z-index: 100;
  margin-bottom: 0;
  stroke: auto;
  border-radius: 0.5rem;
}
