.text-label.text-label {
    color: #000;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.componentMargin.componentMargin {
    margin-top: 0.5rem;
}

.dropDownMenuStyle {
    min-width: 25rem !important;
    border: 0.1rem solid black !important;
}

.min-width {
    width: 80rem !important
}

.componentMargin.componentMargin div>input {
    padding: 5.5px 5px;
}

.dropDownStyle {
    min-width: 25rem !important;
    border: 0.13rem solid black !important;
}

.marginright {
    margin-right: 1rem !important;
    background-color: white !important;
}

.custom {
    margin-right: 0rem;
}

.displayInRow {
    display: flex !important;
    align-items: center;
}

.payFreq {
    margin-left: 6rem;
}


.title{
    margin-left: 1rem;
    font-weight: 500;
}

.pay-freq-title {
    margin-left: 2rem;
    font-weight: 500;
}

.select {
    margin-left: 1rem;
    font-size: 10px;
}

.calcDivider {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    height: 1.5rem !important;
    color: #eeeeee !important;
    border: 2px solid #dadada;
    box-shadow: 0px 2px#dadada;
}

.incomeType {
    margin-left: 1rem;
}

.dropdown {
    margin-left: 1rem;
}

.inline-dropdown {
    margin-top: 1rem;
}

.inline  {
    padding-top: 1rem;
    padding-left: 1rem;
}

.small {
    height: 4rem !important;
    width: 11.5rem !important;
}
    
.selectType {
  margin-left: -2rem;
    height: 3rem ;
}
