.navigation{
    padding: 8px;
}
.parent-grid{
    background: var(--grey-200);
    border: 1px solid #bbbdbf;
    border-radius: 5px;
    padding: 8px;
}
.parent-grid:hover{
    background: rgb(6, 193, 226);
    cursor: pointer;
}
.child-grid{
    background: var(--grey-200);
    border: 1px solid #bbbdbf;
    padding: 8px;
}
.header-style{
    font-size: 8pt;
    font-family: "Lato", sans-serif;
    color: #707479;
}
.value-style{
    font-weight: bold;
    color: #333940;
    margin-top: 0.5rem;
}
.failedStatus{
    background: red;
    color: white;
    font-weight: bold;
}
.completedStatus{
    background: green;
    color: white;
    font-weight: bold;
}