.send-to-underwriting.send-to-underwriting {
    background-color: var(--light-blue-900);
    margin-right: 0.5rem;
  }
  
  .send-to-underwriting.send-to-underwriting:hover {
    background-color: var(--blue-900);
  }