.dropDownStyle {
  min-width: 25rem !important;
  border: 0.13rem solid black !important;
}

.dropDownMenuStyle {
  min-width: 25rem !important;
  border: 0.1rem solid black !important;
}

.select-custom-class {
  width: 25rem !important;
}

.minheight {
  min-height: 5rem;
}

.cname-button {
  padding-top: 2rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.cname-icon {
  margin-left: 0.5rem;
}

.cname-dropdown {
  margin-left: 0.5rem;
  padding-left: 1rem;
}

.cname-create {
  
}