.confirmationDialog {
    color: #4e586e;
    font-weight: 800 !important;
    font-size: 1.5rem !important;
    line-height: 1.5rem !important;
    font-family: Lato;

    .alertTitle {
        color: #4E586E !important;
        font-weight: 700 !important;
        font-size: 1.5rem !important;
        line-height: 1.5rem !important;
    }

    .dialogButtons {
        justify-content: flex-start !important;
        margin-left: 10px;
        border-radius: 5px !important;
        font-size: 1.1rem;
    }

    .saveButton {
        background-color: #596feb !important;
        color: white !important;
        width: 65px;
        height: 25px;
    }

    .cancelButton {
        width: 65px;
        height: 25px;
    }

    .disabledSaveButton {
        width: 65px;
        height: 25px;
    }
}