.tabview{
    width: 75rem;
}

.dot{
    height: 0.9rem;
    width: 0.9rem;
    background-color:#F03858;
    border-radius: 50%;
    display: inline-block;
    z-index: 10;
}

.dot1 {
    height: 0.9rem;
    width: 0.9rem;
    background-color: #ffa400;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
    margin-left: -0.25rem;
}