.details-table-document-type {
  font-size: 1rem;
  font-weight: 700;
  color: #333940;
}

.details-table-btn.details-table-btn {
  background-color: #1b6c92;
  color: #fff;
  box-shadow: none;
  height: 2.9rem;
  font-size: 1rem;
  border-radius: 0;
  float: right;
  margin-right: 1rem;
}

.details-table-order-btn.details-table-order-btn:hover {
  background-color: #e67300;
}

.details-table-download-btn.details-table-download-btn {
  float: right;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.87) !important;
}

.download-btn {
  color: rgba(0, 0, 0, 0.87) !important;
}

.details-table-document-status {
  margin-top: 1rem;
  font-size: 0.7rem;
  color: #707479;
}

.stager-details-table-top-div {
  padding: 2rem;
  width: 100%;
  background-color: rgba(234, 234, 234, 0.3);
}

.table-cell-right-border.table-cell-right-border {
  border-right: #d6d7d8;
  border-right-style: dotted;
  border-right-width: 1px;
  padding: 0.2rem;
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle;
}

.details-table-download-icon.details-table-download-icon {
  width: 1.2rem;
  margin: 0.3rem 0.3rem 0.3rem 0rem !important; /* stylelint-disable-line length-zero-no-unit */
}

.center-grid {
  min-height: 75vh;
}

.no-preview-message {
  color: #d6d7d8;
  font-size: 1.5rem;
}

.no-preview-icon.no-preview-icon {
  color: #d6d7d8;
  width: 10rem;
  margin: 3rem;
  height: 100%;
  opacity: 0.5;
}

.main-table.main-table {
  table-layout: fixed;
  width: 100%;
  max-height: calc(90vh - 8rem);
  overflow-y: auto;
}

.table-header-cell.table-header-cell {
  color: #333940;
  font-weight: 700;
  font-size: 0.8rem;
}

.table-row-cell.table-row-cell {
  font-size: 0.7rem;
  padding: 0.2rem;
}
