.custommargin {
    margin: 1rem 0rem 1rem 0rem !important;
}

.right {
    margin-right: 1rem !important;
}

.margin {
    margin-top: 0.5rem !important;
}

.largeIcon {
    max-width: 2rem;
  }
  
  .failedicon {
      color:  red !important;
  }

  .succesicon {
    color: green !important;
  }

  .multiline {
      width: 40rem !important;
  }

  .notificationMsg.notificationMsg {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1.25rem;
  }

  .container {
    width: 100%;
    display: flex;
    box-sizing: border-box;

  }