.timeline-item {
  display: flex;
  position: relative;
  margin: 7px 0;
  width: 50%;
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  max-width: 90%;
}

.timeline-item-content::after {
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item .selected-item {
  background: #ffc6b0;
}

.timeline-item .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: auto;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline-item-content a {
  font-size: 14px;
  font-weight: bold;
}

.timeline-item-content a::after {
  content: ' ►';
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 5px solid rgb(173, 175, 178);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 7px);
  right: auto;
  left: -36px;
  width: 4px;
  height: 3px;
  z-index: 100;
}

.timeline-container-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0;
  margin-left: 10rem;
}

.timeline-container-inner::after {
  background-color: rgb(173, 175, 178);
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 1px;
  height: 100%;
}

.tableData {
  font-weight: bold;
  color: #333940;
  margin-top: 0.5rem;
  text-align: center;
}

.search-container {
  padding: 10px 8px 10px 8px;
  border-bottom: 1px solid #b0b4b9;
}

.cards {
  background: #fff;
  border: 1px solid #bbbdbf;
  border-radius: 5px;
  margin-left: -3rem;

  /* for mock */
  margin-bottom: 16px;
}

.main-container {
  border-bottom: 1px solid #b0b4b9;
}

.user-detail {
  padding-left: 0.5rem;
}

.value-style {
  font-size: 0.8rem;
  color: var(--grey-590);
}

.resolutionChoiceType {
  font-size: 0.9rem;
  color: var(--grey-590);
}

.right-item {
  text-align: right;
  padding-right: 1rem;
}

.dateStyle {
  text-align: left;
}

.header-style {
  font-weight: bold;
  color: #333940;
  margin-top: 0.5rem;
}

.failedStatus {
  background-color: var(--red-600);
  color: #fafafa;
  font-weight: bold;
  padding: 1px 5px 1px 5px;
  border-radius: 0.25rem;
  text-align: center;
}

.successStatus {
  background-color: green;
  color: #fafafa;
  font-weight: bold;
  padding: 1px 5px 1px 5px;
  border-radius: 0.25rem;
  text-align: center;
}

.substatus {
  font-size: 1.2rem !important;
}

.sub-container {
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 14px;
  margin-left: 1rem;
}

.comments {
  font-size: 1rem !important;
  margin-right: 1rem;
}

.history-style {
  font-weight: bold;
  color: lightseagreen;
  margin-top: 0.5rem;
  cursor: pointer;
}
