.columns-container {
  align-items: flex-start;
  background-color: var(--grey-200);
  justify-content: flex-start;
}

.document-status-bar {
  height: 2rem;
  background-color: #d6d7d8;
  display: flex;
  align-items: center;
}

.document-status-header {
  margin: 1rem 2rem;
  font-size: 1rem;
  color: #5f5e5e;
}

.taskStatusTitle.taskStatusTitle {
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

input[type=text] {
  width: 13rem !important;
}

.tiles-grid {
  padding: 0.5rem;
}

.stagerGroupItem {
  flex-grow: 1;
}

.stager-tiles-main-container {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #eaeaea;
  min-height: calc(100vh - 8.2rem);
  max-height: calc(100vh - 8.2rem);
}

.stager-tiles-status-select.stager-tiles-status-select {
  min-width: 100%;
  min-height: 3rem;
  background-color: #fff;
  border-top: #eaeaea;
  border-top-width: 0.1rem;
  border-top-style: solid;
}

.stager-tiles-status-select.stager-tiles-status-select > div > div {
  margin-left: 1rem;
  font-size: 0.9rem;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.status-tile {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}
