.columns-container {
  align-items: flex-start;
  background-color: var(--grey-200);
  justify-content: flex-start;
}

.document-status-bar {
  height: 2rem;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
}

.document-status-header {
  margin: 1rem 2rem;
  font-size: 1rem;
  color: #5f5e5e;
}

.tiles-grid {
  padding: 1.5rem;
}

.stager-tiles-main-container {
  overflow-y: auto;
}
