.left-nav-bar {
  align-items: center;
  background-color: Black;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  width: 4em;
}

.left-nav-bar > * {
  cursor: pointer;
  margin-top: 1em;
}

.stretch-column {
  display: flex;
  flex-direction: column;
}
