.align {
    display: flex;
    flex-direction:row;
    align-items: center;
}

.fico-scr-title {
    width: 12rem !important;
    margin: 0rem 0rem 0rem 1rem !important;
}
  
.paper {
    background-color: #f3f5f9!important;
    padding: 0 1rem 1rem 0!important;
    border-radius: 5px!important;
}

.textalign {

}

.fico-title {
    color: #000;
    font-weight: 700 !important;
    font-size: 15px !important;
    padding: 1rem !important;
}

.tabview {
    width: 75rem;
  }
  
  .doc-tab-view {
    width: 59rem;
  }
  
  .doc-widget{
    width: 80rem;
  }
  
  .dot {
    height: 0.9rem;
    width: 0.9rem;
    background-color: #f03858;
    border-radius: 50%;
    display: inline-block;
    z-index: 10;
  }
  
  .dot1 {
    height: 0.9rem;
    width: 0.9rem;
    background-color: #ffa400;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
    margin-left: -0.25rem;
  }
  
  .borrowerBanner {
    background-color: #f3f5f9 !important;
    border-radius: 5px !important;
  }

  .gridHandle {
    display: flex !important;
    flex-direction: row !important;
  }
  
  .disable {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }

  .borrNameDiv {
    display: grid !important;
    text-transform: capitalize !important;
  }

  .borrName {
    font-weight: 700 !important;
    color: #4e586e !important;
  }

  .borrDesc {
    color: #939299 !important;
  }

  .borrTab {
    width: 12.75rem !important;
  }

  .ficoScrGrid {
    padding-bottom: 0.5rem !important;
  }

  .radio-btn-padding {
    padding: 1rem 2rem 0rem 0rem !important;
  }

  .radio-btn {
    display: flex !important;
    align-items: center !important;
  }

  .taballign {
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    justify-content: space-evenly !important;
  }

  .addContributor {
  margin-top: 1rem !important;
  margin-left: 1rem !important;
  }
