.otherBorrowersTitle{
    height: 2.5rem !important;
    font: Lato !important;
    font-size: 0.75rem !important;
    color: #939299 !important;
    padding: 0.625rem 1.5rem !important;
}

.borrowerContainer{
    padding-left: 1.5rem !important;
}

.borrowerCheckBoxContainer{
    padding: 0px !important;
}

.borrowerCheckBoxChecked{
    height: 0.938rem !important;
    width: 0.938rem !important;
    color: #596FEB !important;
}

.borrowerCheckBoxUnchecked{
    height: 0.938rem !important;
    width: 0.938rem !important;
    color: #939299 !important;
}

.borrowerDetailConatiner{
    padding: 0px !important;
}

.borrowerName{
    height: 1.25rem !important;
    font: Lato !important;
    font-size: 0.75rem !important;
    color: #4E586E;
}

.borrowerOrder{
    height: 1.5rem !important;
    font: Lato !important;
    font-size: 0.75rem !important;
    color: #939299;
}