.docMainContainer{
    background: #F3F5F9;
    width: 20.75rem !important;
    padding: 0.625rem !important;
    height: 41.5rem;
    margin-left: 0.938rem !important;
    border-radius: 0.938rem !important;
    position: fixed !important;
}

.disable-docMainContainer {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}

.docSubContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.listContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.listItemGrid{
    margin-bottom: 0.938rem !important;
    padding:  0.25rem 0.313rem 1.613rem 0.313rem !important;
    height: 1.875rem !important;
    width: 100% !important;
}

.listItemGridChecked{
    margin-bottom: 0.938rem !important;
    padding: 0.25rem 0.313rem 1.613rem 0.313rem !important;
    border: 0.063rem solid #E0E4EF !important;
    border-radius: 0.313rem !important;
    height: 1.875rem !important;
    background: #E4E9F5 !important;
    width: 100% !important;
}

.checkBoxGrid{
    padding: 0px !important;
}

.checkBox{
    height: 0.938rem !important;
    width: 0.938rem;
    color: #939299;
}

.checkBoxChecked{
    height: 0.938rem !important;
    width: 0.938rem;
    color: #596FEB;
}

.docNameGrid{
    padding: 0px !important;
}

.docName{
    height: 1.5rem !important;
    font: Lato !important;
    font-size: 0.75rem !important;
    color:#4E586E !important;
}

.docDateGrid{
    display: flex !important;
    justify-content: end !important;
    padding: 0px !important;
}

.docDate{
    height: 1.5rem !important;
    font: Lato !important;
    font-size: 0.75rem !important;
    color: #939299 !important;
}

.delDocIcon{
    top: -0.938rem !important;
}

.delDocImg{
    width: 1.25rem !important;
}