.label.label {
  font-size: 1.1rem;
}

.disposition-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50.25rem;
}

.disposition-section > * {
  margin-top: 1.25rem;
}

.user-notification {
  align-self: center;
  flex: 0 0 25em;
}

.save.save {
  background-color: var(--light-blue-900);
  margin-left: 0.9rem;
  margin-bottom: 0.9rem;
}

.save.save:hover {
  background-color: var(--blue-900);
}

.saveArea {
  display: flex;
  align-self: center;
  justify-content: center;
}

.tooltip {
  font-size: 1rem !important;
}

.label-true {
  display: block;
  font-size: 1rem;
  color: #2d2d86;
  margin-top: 0.8 rem;
  margin-left: 10rem;
  border-style: solid;
  font-weight: 800;
  border-radius: 10%;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

.label-false {
  display: none;
  font-size: 1rem;
  color: #2d2d86;
  margin-top: 0.8rem;
  margin-left: 10rem;
  border-style: solid;
  font-weight: 800;
  border-radius: 10%;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

.para-title {
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 1.25rem;
}

.OperateButton {
  font-size: 0.99rem;
  margin-left: 43.9rem;
  border-color: transparent;
  outline: none;
  width: 6.25rem;
}

.NotificationBox > * {
  width: 31.25rem !important;
}

.CardStyle.CardStyle,
.CardBottomStyle.CardBottomStyle {
  margin: 0 40rem;
  border-color: #dee2e6;
  border-style: solid;
  border-width: 0.0625rem;
  border-bottom: 0;
  border-radius: 0%;
  width: 50rem;
  box-shadow: none;
}

.CardActionsStyle {
  height: 3rem;
}

.GroupNames {
  width: 150rem;
  font-size: 0.99rem;
  margin-left: 0.3125rem;
  margin-top: 0.125rem;
}

.CardContentStyle {
  margin-top: -2.5rem;
}

.RadioButtonStyle {
  color: #2d2d86;
}

.radio-button-gap {
  width: 29.25rem;
  height: 1.75rem;
  margin-top: 0.5rem;
  margin-left: -0.25rem !important;
}

.scrollable-block {
  align-self: stretch;
  margin: 0 auto;
  overflow: auto;
}

.save-button.save-button {
  align-self: center;
  margin-top: 1.25rem;
}
