.add-contrib-pop-grid-title {
    padding: 10px 0 0 0;
}

.add-contrib-pop-grid-title-name {
    color: #4e586e !important;
    font-size: 16px !important;
    font-weight: bold !important;
    margin-left: 0;
}


.add-contrib-pop-grid-close-icon {
    display: block;
    position: absolute;
    left: 46rem;
}

.input-fields {
    border: 1px solid black;
}

.input-lable {
    display: inline-block !important
}


.add {
    color: white !important;
    cursor: 'pointer';
    background-color: #596FEB !important;
    display: block;
    position: absolute;
    right: 38rem;
  }
  
  .add:disabled {
    color: black !important;
    cursor: 'pointer';
    background-color: #c6c6c6 !important;
    display: block;
    position: absolute;
    right: 43.7rem;
  }

  .cancel {
    color: white !important;
    cursor: 'pointer';
    position: absolute;
    background-color: #596FEB !important;
    right: 36.5rem;
  }

  .add-contrib-select{
    width: 14.9rem;
    border-radius: 5px !important;
    font-size: 13.75px !important;
    color: black !important;
    height: 2.5rem !important;
  }

  .user-type-menu-item{
    padding-left: 0 0 0 1rem !important;
  }

  .add-contrib-label{
    padding: 1rem 0 0 1rem !important;
  }

  .required{
  color: red;  
  }