.failedTab {
    color: red;
    font-size: small !important;
    margin-right: 0.5rem !important;
}
  
.passedTab {
    color: green;
    font-size: small !important;
    margin-right: 0.5rem !important;
}

.status {
    display: flex;
}