.messageContainer{
    display: flex !important;
    justify-content: space-between !important;
    margin-right: 1rem !important;
    height: 1.875rem !important;
    width: 21.875rem !important;
    padding: 0.313rem !important;
}

.messageText{
    font: Lato !important;
    font-size: 0.75rem !important;
    color: #4E586E !important;
}

.confirmBtn{
    height: 1.25rem !important;
    background: #596FEB !important;
    border-radius: 0.313rem !important;
    font: Lato !important;
    font-size: 0.625rem !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    margin-right: 0.313rem !important;
}

.cancelBtn{
    width: 4.313rem !important;
    height: 1.25rem !important;
    background: #FFFFFF !important;
    border-radius: 0.313rem !important;
    font: Lato !important;
    font-size: 0.625rem !important;
    color: #596FEB !important;
    box-shadow: none !important;
}