.container{
    border-style: solid !important;
    border-width: 0.063rem !important;
    border-radius: 0.313rem !important;
    border-color: #4E586E !important;
    height: 5.125rem !important;
    width: 9.375rem !important;
    display: flex;
    flex-direction: column;
}

.docType{
    height: 100% !important;
    font: Lato !important;
    font-size: 0.813rem !important;
    font-weight: bold !important;
    color: #4E586E !important;
    padding: 0.313rem !important;
}

.agentName{
    height: 100% !important;
    font: Lato !important;
    font-size: 0.688rem !important;
    color: #4E586E !important;
    padding: 0.313rem !important;
}