.dropzone {
    padding: 0px 1rem;
    border: 1px dashed #1EAF8C;
    background-color: #ECF8F9;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.dropZone input[type="file"] {
    display: none;
}

.dropMessage{
    font: Lato !important;
    font-size: 0.75rem !important;
    color: #4E586E !important;
}
