.filter-pop-main-container {
    padding: 10px;
    width: 18rem;
}

.filter-pop-grid-item-typo {
    width: 5rem;
    height: 24px;
    font-weight: bold;
    color: #4e586e;
}

.filter-pop-grid-clear-button {
    width: 5rem;
    height: 20px !important;
    background-color: white !important;
    border-radius: 5px !important;
    font-size: 10px !important;
    color: #596feb !important;
    box-shadow: none !important;
}

.filter-pop-grid-apply-button-active {
    height: 20px !important;
    background-color: #596feb !important;
    border-radius: 5px !important;
    font-size: 10px !important;
    color: white !important;
    box-shadow: none !important;
}

.filter-pop-grid-apply-button-disabled {
    height: 20px !important;
    border-radius: 5px !important;
    font-size: 10px !important;
    box-shadow: none !important;
}

.filter-pop-grid-apply-button-disable {
    /* width: 5rem; */
    height: 20px !important;
    background-color: #596feb !important;
    border-radius: 5px !important;
    font-size: 10px !important;
    color: white !important;
    box-shadow: none !important;
}

.filter-pop-grid-from-to-date {
    width: 5rem !important;
    height: 24px !important;
    font-size: 10px !important;
    color: #4e586e !important;
}

.filter-pop-grid-item-category {
    height: 24px !important;
    font-size: 10px !important;
    color: #4e586e !important;
}

.filter-pop-grid-select-category {
    height: 24px !important;
    font-size: 14px !important;
    color: #4e586e !important;
    padding: 5px !important;
}

.filter-category-dropdown{
    border: 1px solid #4e586e !important;
    border-radius: 5px !important;
    padding-left: 2px !important;
    font-size: 10px !important;
    color: #4e586e !important;
}