.tag-dialog-title {
    padding: 0px !important;
}

.tag-dialog-title-name-grid {
    padding: 10px 10px 0px 24px;
}

.tag-dialog-title-name {
    color: #4e586e;
    font-size: 14px !important;
    font-weight: bold !important;
}

.tag-dialog-title-icon-item {
    display: flex;
    justify-content: end;
}

.tag-dialog-title-icon-button {
    height: 30px;
    width: 30px;
}

.tag-dialog-content-done-button {
    width: 45px !important;
    min-width: 45px !important;
    height: 20px !important;
    background: #596feb !important;
    border-radius: 5px !important;
    font-family: 'Lato';
    box-shadow: none !important;
    font-size: 10px !important;
    color: white !important;
}

.tag-dialog-content-done-button-disabled {
    width: 45px !important;
    min-width: 45px !important;
    height: 20px !important;
    border-radius: 5px !important;
    font-family: 'Lato';
    box-shadow: none !important;
    font-size: 10px !important;
}

.tag-diaglog-content-item-name {
    height: 24px;
    font-size: 10px;
    color: #4e586e;
}

.tag-diaglog-content-select-item-name {
    height: 24px !important;
    font-size: 14px !important;
    color: #4e586e;
    padding: 5px !important;
}

.status-select-field-span {
    display: inline-flex;
    margin-left: 1.5rem;
  }
  
  .status-select-field-text {
    font-size: 10px !important;
  }
  
