.resultText {
  margin-left: 1rem;
}

.searchResutlText {
  margin-right: 2px;
  margin-left: 2px;
}

.evalTable {
  text-align: left !important;
  flex-basis: 100%;
  height: 0;
}

.eval-table-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.eval-table-height-limiter {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 0;
}

[aria-selected='true'] {
  font-weight: bold !important;
}

.notificationMsg.notificationMsg {
  align-items: center;
  display: grid;
  justify-content: center;
  width: 100%;
  margin-top: 1.25rem;
}

.unassigned {
  text-decoration: none !important;
}

.backButton {
  margin: 1rem 0 0 1rem;
  font-size: 14px;
}

.backButton a {
  color: rgb(50, 148, 185) !important;
  text-decoration: none;
}

[role=rowgroup]:hover {
  background: #e4f9fc !important;
}
