.baseButton {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 14px 0 #eb4a7f66;
  flex-grow: 1;
  max-width: 100%;
}

.selected-not-visited {

}

.selected-visited {
  color: white;
  background: linear-gradient(90deg, #eb6c6b 0%, #ea4680 96.01%);
}

.deselected-not-visited {
  background: white;
  color: black;
}

.deselected-visited {
  color: black;
  background-color: #f0d5df;
}

/* TODO Enable below style to in phase II
.clickable{
  cursor: pointer;
} */

.button {
  clip-path: polygon(
    0 0,
    0.5rem 50%,
    0 100%,
    calc(100% - 0.5rem) 100%,
    100% 50%,
    calc(100% - 0.5rem) 0
  );
}

.firstButton {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  clip-path: polygon(
    0 0,
    0% 50%,
    0 100%,
    calc(100% - 0.5rem) 100%,
    100% 50%,
    calc(100% - 0.5rem) 0
  );
}

.lastButton {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0.5rem 50%, 0% 0%);
}

.warning {
  position: relative;
  bottom: 4rem;
  left: 35%;
}

.container {
  display: flex;
  font-size: 0.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.title {
  padding: 0 1rem;
  font-family: "Lato";
  font-size: 14px;
}
