.tablealign {
  margin-left: 3rem;
}

.taskDetails {
  margin-bottom: 3rem;
}

.taskPerformed {
  margin-top: 1rem;
  margin-left: 1rem;
  color: var(--grey-650)
}

.taskPerformedstats {
  margin-top: 1rem;
  margin-left: 1rem;
  color: #4e586e !important;
  font-weight: 700;
}

.divider {
  margin-top: 3rem;
}

.container {
  max-height: 31rem !important;
  border-bottom: 0 !important;
  background-color: rgb(243, 245, 249) !important;
  border-radius: 5px !important;
}
.container::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}