.container-item{
    height:100%;
}
.container{
    height: 100%;
    background-color: var(--grey-200);
}
.status{
    background-color: var(--grey-50);
    padding: 10px 10px 10px 40px;
    min-height:  calc(100vh - 11.8rem);
    max-height: calc(100vh - 11.8rem);
    overflow-x: hidden;
    overflow-y: auto;
}
.detail-parent{
    height: 100%;
    padding: 0.25rem;
}