.redText {
  color: red;
}

.blackText {
  color: black;
}

.redText,
.disabled,
.blackText {
  text-decoration: none !important;
}

.pointer {
  cursor: pointer !important;
}

.loanActivityLink {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}
