.heading {
  font-size: 15px !important;
  font-weight: bold !important;
  margin: 1% 1% 1% 2% !important;
}

.left {
  margin: 2% 5% 5% 5%;
  background-color: #f3f5f9 !important;
  border-radius: 10px !important;
}

.box {
  margin: 1% 1% 1% 1% !important;
}

.subTitle {
  font-weight: bold !important;
  font-size: 15px !important;
  padding: 21px;
}

.rightAllignment {
  display: flex;
  padding-right: 2em !important;
  padding-top: 0.7em !important;
  padding-bottom: 0.7em !important;
}

.formMargin {
  margin-left: 1.5rem !important;
  font-size: 0.875rem !important;
}

.addButton {
  color: #596feb !important;
  font-weight: bold !important;
  align-self: center !important;
  padding-bottom: 10%;
}

.divider {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  border: '1px solid #e0e0e0' !important;
}

.saveButton {
  margin-left: 80% !important;
  background-color: #596feb !important;
  color: #fff !important;
  margin-bottom: 1rem !important;
}

.disabledSaveButton {
  margin-left: 80% !important;
  margin-bottom: 1rem !important;
}

.fullWidth {
  width: 100%;
  color: #000 !important;
  background-color: #fff !important;
  font-size: 0.875rem !important;
}

.collapse {
  display: flex !important;
  justify-items: flex-end !important;
  padding-left: 26% !important;
  padding-bottom: 0.5rem !important;
  height: fit-content;
  overflow: auto !important;
}

.dollarSign {
  color: #939299 !important;
}

.closeButton {
  display: flex !important;
  justify-content: flex-end !important;
}

::placeholder {
  opacity: 1 !important;
}
