.landing-page {
  align-items: center;
  background-color: var(--grey-200);
  flex-direction: column;
  justify-content: center;
}

.landing-page span {
  color: var(--grey-500);
  margin-top: 1rem;
  font-weight: 700;
}

.title-row {
  /* width: 50rem; */

  /* float: left; */
  padding: 0 0% 0 6%;
}

.title-row > :last-child {
  border-radius: 0;
}

.main {
  margin: 20px;
}

.interactive-button {
  position: relative;
  text-align: center;
  margin-bottom: 1.5rem;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.pid-textbox {
  /* width: 25vw; */
  width: 98%;
  height: 70%;
}

.page-header {
  font-size: 1.3rem;
  padding: 1rem 2rem;
}

.table-container {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
}

.height-limiter {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 0;
}

.message {
  align-self: right;
}

.loan-numbers {
  font-size: 1.1rem;
  padding-left: 0.7rem;
}

.table {
  flex-basis: 100%;
  height: 0;
  text-align: left !important;

  /* margin: 0 0.5rem; */
}

.regColumn {
  width: 15%;
}

.statusColumn {
  width: 55%;
}

.download-btn {
  color: rgba(0, 0, 0, 0.87) !important;
}

.download-icon {
  width: 1.2rem;
  margin-left: 0.3rem;
}

.backButton {
  margin-left: -1rem;
  font-size: 14px;
  padding-top: 0.2rem;
}

.backButton a {
  color: rgb(50, 148, 185) !important;
  text-decoration: none;
}

.status-details-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  height: 100%;
  background-color: #eaeaea;
}

.status-details {
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
  width: 95%;
  margin: auto;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

.loan-activity {
  align-self: stretch;
  height: 93%;
}

.drop-down {
  margin: 0 0 0 1rem;
}

.drop-down-select {
  margin-right: 4rem;
  max-width: 27rem !important;
}
