.heading {
    font-size: 15px !important;
    font-weight: bold !important;
    margin: 1rem 1rem 1rem 1.5rem !important;
  }

  
.closeButton {
    display: flex !important;
    justify-content: flex-end !important;
  }

  .item {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    margin: 1rem;
    margin-left: 1.5rem;
    margin-right: 2.5rem;
  }
  
  .title {
    align-self: auto;
    color: #939299;
    font-size: 0.75rem;
    display: contents;
  }
  
  .content {
    color: #4E586E;
    font-size: 14px !important;
    font-weight: bold;
    display: block;   
    margin-top: 0.3rem;
}
  
  .reasonableEffortCont {
    background-color: #f3f5f9;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
  }

.missDocTitle {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  font-size: 16px !important;
   color: #4E586E;
}

  .tableContainer{
    margin: 1rem;
    background-color: #F3F5F9;
    border-radius: 10px;
  }

  .titleContainer{
    margin: 1rem !important;
  }

  .tableCell {
    font-weight: 400 !important;
    font-size: 0.75rem !important;
    line-height: 17px !important;
    color: #939299 !important;
    width: 200px;
  }
  
  .tableCellValue{
    color: #4E586E !important;
    font-size: 14px !important;
    font-weight: bold !important;
    margin-top: 0.3rem;
  }

 .reasonable-effort-id-display {
    align-self: auto;
    color: #939299 !important;
    font-size: 0.75rem;
    display: contents;
 }

 .reasonable-effort-name-display {
  color: #4E586E !important;
  font-size: 14px !important;
  font-weight: bold !important;
  display: block;   
  margin-left: 5px !important;
 }