.landing-page {
  align-items: center;
  background-color: var(--grey-200);
  flex-direction: column;
  justify-content: center;
}

.landing-page span {
  color: var(--grey-500);
  margin-top: 1rem;
  font-weight: 700;
}

.title-row {
  /* width: 50rem; */

  /* float: left; */
  padding: 0 30% 0 20%;
}

.title-row > :last-child {
  border-radius: 0;
}

.widgetTitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 0 0.8rem;
}

.bookingWidget {
  background-color: white;
  padding: 0.8rem;
}
