
.header {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 3.75rem;
}

.logo {
  height: 1.5rem;
  max-height: 23px;

  /* padding: 0 0.5rem; */
}

.env {
  margin-top: -0.3rem;
  font-size: 1.9rem;
  font-weight: 600;
  color: black;
}

.name.name {
  color: white;
  margin-right: 1rem;
}

.profile {
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.spacer {
  flex-grow: 1;
}

.search {
  margin-right: 1rem;
  max-height: 24px;
}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;
}

.profile-button.profile-button {
  padding: 0;
}

.searchIcon {
  height: 15px;
  color: #4e586e !important;
}

.searchStyle {
  background: #f7f8f9;
  border: 1px solid #e4e9f5;
  border-radius: 0.625rem;
  width: 24.063rem;
  height: 2.25rem;
  box-sizing: border-box;
  position: absolute;
}

.searchStyle input {
  color: #4e586e !important;
}

.searchStyle input::placeholder {
  color: #4e586e !important;
  opacity: 1;
}
