
.header {
  align-items: center;
  background-color: rgb(0, 187, 215);
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem 1rem;
  width: 100%;
}

.logo {
  height: 1.5rem;
  max-height: 23px;

  /* padding: 0 0.5rem; */
}

.env {
  margin-top: -0.3rem;
  font-size: 1.9rem;
  font-weight: 600;
  color: black;
}

.name.name {
  color: white;
  margin-right: 1rem;
}

.profile {
  max-height: 38px;
  margin-left: 1.5rem;
}

.spacer {
  flex-grow: 1;
}

.search {
  margin-right: 1rem;
  max-height: 24px;
}

.profile,
.search {
  height: 2rem;
}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;
}

.profile-button.profile-button {
  padding: 0;
}

.searchIcon {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  height: 10px;
  color: white !important;
}

.searchStyle {
  background-color: rgb(50, 148, 185);
  height: 2rem;
  width: 180px;
  margin-right: 5.5rem;
}

.searchStyle input {
  color: white !important;
  margin-left: 2rem;
}
