.header {
  align-items: center;
  background-color: rgb(0, 187, 215);
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 1em;
  width: 100%;
}

.name.name {
  color: white;
  margin-right: 1em;
}

.spacer {
  flex-grow: 1;
}

.search {
  margin-right: 1em;
}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;
}
