.align {
    display: flex !important;
    flex-direction:row !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.fico-scr-title {
    margin: 0rem 0rem 0rem 1rem !important;
}
  
.paper {
    background-color: #f3f5f9 !important;
    padding: 0 1rem 1rem 0 !important;
    border-radius: 5px !important;
}

.textalign {

}

.fico-title {
    color: #000 !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    padding: 1rem !important;
}

.tabview {
    width: 75rem !important;
  }
  
  .doc-tab-view {
    width: 59rem !important;
  }
  
  .doc-widget{
    width: 80rem !important;
  }
  
  .dot {
    height: 0.9rem !important;
    width: 0.9rem !important;
    background-color: #f03858 !important;
    border-radius: 50% !important;
    display: inline-block !important;
    z-index: 10 !important;
  }
  
  .dot1 {
    height: 0.9rem !important;
    width: 0.9rem !important;
    background-color: #ffa400 !important;
    border-radius: 50% !important;
    display: inline-block !important;
    z-index: 1 !important;
    margin-left: -0.25rem !important;
  }
  
  .borrowerBanner {
    background-color: #f3f5f9 !important;
    border-radius: 5px !important;
  }

  .gridHandle {
    display: flex !important;
    flex-direction: row !important;
  }


  .radio-control.radio-control {
    margin: 0 !important;
  }
  
  .radio-control-label.radio-control-label {
    color: #000 !important;
    font-weight: 700 !important;
    margin-bottom: 0.5rem !important;
  }
  
  .radio-control-bubble.radio-control-bubble {
    padding: 0.5rem !important;
  }
  
  .radio-control-bubble.radio-control-bubble svg {
    fill: var(--mr-navy) !important;
    height: 0.75em !important;
    width: 0.75em !important;
  }
  
  .radio-control-option-label.radio-control-option-label {
    color: var(--grey-650) !important;
  }
  
  .displayInRow {
    display: flex !important;
    flex-direction: row !important;
  }
  
  .displayColumn {
    display: flex !important;
    flex-direction: column !important;
  }
  
  .radio-control-option-black.radio-control-option-black {
    color: var(--black) !important;
  }
  
  .radio-control-option-red.radio-control-option-red {
    color: #ff8080 !important;
  }
  
  .sicm-options {
    padding-right: 3rem !important;
  }
  
  .align-radio-btn {
    padding-left: 3rem !important;
    margin: 0rem 0rem 0rem 14rem !important;
  }

  .taballign {
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    justify-content: space-evenly !important;
  }

  .borrNameDiv {
    display: grid !important;
    text-transform: capitalize !important;
  }

  .borrName {
    font-weight: 700 !important;
    color: #4e586e !important;
  }

  .borrDesc {
    color: #939299 !important;
  }

  .borrTab {
    width: 12.75rem !important;
  }

  .ficoScrGrid {
    padding-bottom: 0.5rem !important;
  }

  .radio-btn-padding {
    padding: 1rem 2rem 0rem 0rem !important;
  }

  .radio-btn {
    display: flex !important;
    align-items: center !important;
  }

  .calculationHistory {
    position: relative;
    text-align: end;
  }    

  
.asset.asset {
  color: var(--grey-650);
  font-size: 1rem !important;
  text-align: justify;
  font-weight: bold;
  display: flex;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.assetHistoryDetails {
  display: flex !important;
  margin-right: 1rem !important;
}

.assetHistoryContainer {
  display: flex !important;
  justify-content: end !important;
}

.disable {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}
