.indexer-container {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.indexer-container h2 {
    font-size: 14px;
    font-weight: 900;
    color: #4E586E;
    margin: 16px 16px 30px 16px;
}

.indexer-container table thead th {
    border-bottom: 0;
    color: #939299;
    font-size: 1rem;
}

.indexer-container table thead th span span {
    display: none;
}

.indexer-container table thead th span svg {
    font-size: 1.5rem !important;
    opacity: 1 !important;
    transform: none;
}

.indexer-container table thead th>span[class*="active"],
.indexer-container table thead th>span[class*="active"] svg {
    color: rgba(0, 0, 0, 1) !important;
}

.indexer-container table thead th>span:hover {
    color: rgba(0, 0, 0, 0.8);
}

.indexer-container table thead th>button {
    padding: 4px;
}

.indexer-container table tbody td {
    padding: 8px !important;
    font-size: 1rem;
    cursor: pointer;
}

.indexer-container table thead th {
    padding: 8px 8px 0 8px !important;
}

.indexer-container div[class*="MuiBox-root"] {
    margin-left: 10px;
}