.successDialog {
    max-width: 250px;
    margin: 0 auto;
}

.successDialog .content{
  margin-top: 30px;
  margin-bottom: 30px;
  color: #4e586e;
  font-weight: 800 !important;
  font-size: 1.1rem !important;
  line-height: 1.5rem !important;
}

.successDialog .okBtn{
    margin-bottom: 20px;
    font-weight: 700 !important;
    font-size: 13px !important;
    line-height: 15px !important;
  }