.disposition-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.disposition-section > * {
  margin-top: 1.25rem;
}

.title {
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 1.25rem;
}

.save-button.save-button {
  align-self: center;
  margin-top: 1.25rem;
}

.scrollable-block {
  align-self: stretch;
  margin: 0 auto;
  overflow: auto;
}
