.disposition-section-container {
  align-items: flex-start;
  background-color: var(--grey-200);
  justify-content: flex-start;
}

.disposition-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.disposition-section > * {
  margin-top: 1.25rem;
}

.title {
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 1.25rem;
}

.save-button.save-button {
  align-self: center;
  margin-top: 1.25rem;
}

.left-task-pane {
  align-items: flex-start;
}
