.text-label.text-label {
  color: #000;
  margin: 0;
}

.datepicker {
  width: 12rem !important;
}

.datepicker-we {
  width: 12rem !important;
  max-width: 94%;
}

.date-flex-div {
  display: flex;
  margin-left: 2.5rem;
  margin-top: 1rem;
}

.date-flex-title {
  width: 12rem;
}

.date-flex-picker {
  width: 16.5rem;
}

.fico-date-row {
  display: flex !important;
  align-items: center !important;
  margin-top: 1rem !important;
}

.fico-scr-title {
  width: 12rem;
  margin: 0 0 0 1rem;
}

.doc-date-flex-div {
  display: flex;
}

.doc-date-flex-title {
  width: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.doc-date-flex-picker{
  width: 13rem;
}