.align-btns {
  float: right;
  margin-top: -2rem !important;
  margin-right: 1.5rem !important;
}

.sort-img {
  width: 10px;
  height: 10px;
  float: right;
  cursor: pointer;
  margin-top: 0.3rem !important;
}

.checkbox {
  transform: scale(0.8);
}

.table-container {
  max-height: 420px;
  margin-top: 2rem !important;
}

.table-cell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
