.alert-box {
  align-items: center;
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0.5rem;
  width: 100%;
}

.alert-box--error {
  composes: alert-box;
  background-color: var(--red-50);
  border: solid 0.125rem var(--red-600);
}

.alert-box--success {
  composes: alert-box;
  background-color: var(--light-green-50);
  border: solid 0.125rem var(--light-green-500);
}

.error-icon.error-icon {
  color: var(--red-a700);
}

.success-icon.success-icon {
  color: var(--light-green-a700);
}

.message {
  padding-left: 0.5rem;
}
