.drop-down-select {
  width: 90%;
  margin: 0 2rem 2rem 0.75rem;
  background-color: white !important;
  height: 3rem !important;
}

.status-details-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  background-color: #eaeaea;
}

.interactive-button {
  position: relative;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-right: 0.625rem;
}

.reset-button-style {
  position: relative;
  margin-right: 2rem;
  margin-top: 0.25rem;
  width: 10%;
  float: right !important;
  font-weight: bold !important;
}

.reset-button-style-blue {
  position: relative;
  margin-right: 2rem;
  margin-top: 0.25rem;
  width: 10%;
  float: right !important;
  font-weight: bold !important;
  color: var(--light-blue-900) !important;
  cursor: pointer;
}

.loan-numbers {
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.errorIcon {
  float: right !important;
}

.errorSvg {
  width: 4rem !important;
  height: 1.5rem !important;
}

.cstmBtnErrSvg {
  width: 2rem !important;
  height: 2rem !important;
  margin: 0 0 -0.75rem 0 !important;
}

.status-details {
  flex-grow: 1;
  flex-basis: 0;
  width: 95%;
  margin: auto;
  padding-top: 0.2rem;
  padding-left: 0.3rem;
  padding-bottom: 0.5rem;
}

.submitButton {
  margin-right: 1rem !important;
  float: right;
  padding-left: 0.5rem;
}

.nodata {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.scroll-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: stretch;
}

.investorLabel {
  font-size: 20px;
}

.notepad {
  border-top: 1px solid gainsboro;
}

.table {
  flex-basis: 60%;
  text-align: left !important;
}

.newBulkUpload {
  margin: 1rem 1rem 2rem 0;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.uploadBtn {
  color: wheat;
}

.submit {
  margin-right: 1rem !important;
}

.align-selector {
  display: 'flex' !important;
  justify-content: 'center' !important;
  align-items: 'center' !important;
}

.widgetDwnld {
  margin: 1rem 0 1rem 1rem !important;
}

.tablealign {
  margin-left: 0.5rem !important;
}

.table-content-align {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.inputLblSelected {
  display: none !important;
}

.inputLbl {
  display: block !important;
  left: 2% !important;
  top: -15% !important;
}

.download-btn {
  margin-left: auto;
}

.download-btn button {
  margin: 0 !important;
  font-size: 10px;
}

.download-btn button svg {
  margin-right: -6px;
}

.request-type-container {
  background: #F3F5F9;
  border-radius: 10px;
  padding: 12px;
  margin: 10px 0 12px 0 !important;
}

.requestCategoryDropdown {
  font-size: 14px !important;
  display: flex;
  color: #4E586E;
}

.history-container {
  margin: 10px 0 12px 0;
}

.accordian-header {
  font-size: 18px !important;
  color: #4E586E;
  font-weight: 700 !important;
}

.accordian-header-subtext {
  font-size: 12px !important;
  color: #939299;
  font-weight: 400 !important;
  text-transform: capitalize;
  margin-left: 16px !important;
}

.accordian-header-container, .accordian-header-container .MuiAccordionSummary-content {
  width: 100%;
  background: #F3F5F9 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.flex {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.status-text{
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #fff;
  border-radius:2px;
  margin-left: 12px !important;
  padding: 0 4px;
}

.table-header {
  color: #6C7586 !important;
  font-weight: 400 !important;
  font-size: 13px !important;
}

.table-body {
  color: #595C61 !important;
  font-weight: 400 !important;
  font-size: 13px !important;
}

.absolute {
  position: absolute;
  right: 60px;
}