
.document-type-card-main-div {
  padding: 1rem;
  display: flex;
}

.document-type-name {
  margin-top: 2rem;
}

.document-type-count {
  font-size: 4rem;
  color: #055c6b;
}

.sla-breached-chip {
  background-color: #f44336 !important;
}

.info-chip-0-count {
  background-color: #dad9d9 !important;
}

.info-chip {
  background-color: #807d7d;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.2rem;
  border-radius: 5px;
  display: table-cell;
  font-weight: 200;
}

.info-items {
  margin-top: 0.5rem !important;
}
