
.document-type-card-main-div {
  padding: 0.8rem 0.8rem 2% 0.8rem;
  display: flex;
  cursor: pointer;
}

.document-type-card-main-div-selected {
  background-color: #e67300;
}

.document-type-card-main-div-active {
  padding: 0.8rem 0.8rem 2% 0.8rem;
  display: flex;
  background-color: #e67300 !important;
}

.document-type-name {
  margin-top: 0.5rem;
  color: #707479;
  font-weight: 520;
  font-size: 1rem;
}

.document-type-name-selected {
  margin-top: 0.5rem;
  font-weight: 520;
  color: #fff;
  font-size: 1rem;
}

.document-type-count {
  font-size: 2.6rem;
  color: #1b6c92;
}

.document-type-count-selected {
  font-size: 2.6rem;
  color: #fff;
}

.sla-breached-chip {
  background-color: #e20e34 !important;
}

.info-chip-0-count {
  background-color: #d6d7d8 !important;
}

.info-chip {
  background-color: #707479;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.2rem;
  border-radius: 3px;
  display: table-cell;
  font-weight: 500;
}

.slaDaysFooter {
  font-weight: 350;
  margin-left: 2%;
  font-size: 0.7rem;
  margin-top: 3%;
  padding-top: 2%;
  border-top-style: ridge;
}

.slaDays {
  font-weight: 400;
  font-size: 0.7rem;
}

.line_break {
  height: 0.2rem;
}

.info-items {
  margin-top: 0.5rem !important;
}
