.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.container.container > * {
  margin-bottom: 0.5rem;
  max-height: 100vh;
}

.container.container > :last-child {
  margin: 0;
}

.field-title.field-title {
  font-weight: 700;
  width: 5rem;
}

.group-list {
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.skills {
  height: 300px;
  overflow: auto;
}

.separater {
  border-top: 1px solid #000;
}

.buttons {
  display: flex;
  padding-left: 17rem;
}

.resetButton {
  padding-left: 1rem;
}

.radioGroup {
  display: block !important;
}
