.container-item{
    height:100%;
}
.container{
    height: 100%;
    background-color: var(--grey-200);
}
.navigation-pane{
    background-color: var(--grey-50);
    padding: 10px 10px 10px 40px;
    overflow: auto;
    height:  100%;
}
.detail-parent{
    height: 100%;
    padding: 0.25rem;
}