.detail-parent{
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 2rem;
}
.parent{
    position: relative;
    width: 99%;
    justify-content: center;
    display: flex;
}