.detail-parent{
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 2rem;
    background: grey;
    height: calc(85vh)
}
.parent{
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
}