.largeIcon {
    max-width: 2rem;
    height: 16px;
    padding: 0rem;
}

.reuploadmsg {
    font-size: 1.3rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 6px;
}

.fileTextBox {
    height: '60px';
    width: '100px';
    overflow: hidden;
    padding: 7.5px 14px !important;
    align-self: center;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}

.deletebtn {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 54rem !important;
    margin-top: 20px !important;
    background-color: white !important;
    color: #00B4D2 !important;
    border: 1px solid #00B4D2 !important;
}

.msgblock{
    margin-top: 14rem !important;
}

.msgblock1{
    margin-left: 44rem !important;
    margin-top: 3px !important;
}
