.largeIcon {
    max-width: 2rem;
    margin: 0rem 1rem 0rem 45rem;
    padding: 0rem;
}

.reuploadmsg {
    font-size: 1.3rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.fileTextBox {
    padding: 7.5px 14px !important;
    margin: 0rem 1rem 0rem 52rem;
    text-align-last: right;
}

.deletebtn {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px !important;
    margin-top: 85px !important;
}

.msgblock{
    margin-left: -4rem;
    margin-top: 14rem;
}

.msgblock1{
    margin-left: 42rem;
}
