.largeIcon {
    max-width: 2rem;
    margin: 0rem 1rem 0rem 45rem;
    padding: 0rem;
}
  
.failedmsg {
    font-size: 1.3rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.msgblock{
    margin-left: -2rem;
}