.failedTab {
  color: red;
  font-size: small !important;
  margin-right: 0.5rem !important;
  margin-bottom: 0.25rem !important;
}

.passedTab {
  color: green;
  font-size: small !important;
  margin-right: 0.5rem !important;
  margin-bottom: 0.25rem !important;
}

.uploadTab {
  font-size: medium !important;
  margin-right: 0.5rem !important;
  margin-bottom: 0.25rem !important;
}

.uploadfailedTab {
  font-size: medium !important;
  color: red;
  margin-right: 0.5rem !important;
  margin-bottom: 0.25rem !important;
}

.table-container {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
}

.height-limiter {
  flex-basis: 100%;
  width: 100%;
}

.table {
  flex-basis: 80%;
  text-align: left !important;
}

.uploadImage {
  font-size: 6rem !important;
  margin: 6rem 8rem 0rem 49rem;
  padding: 0rem;
}

.countStyle {
  background: #eee;
  font-weight: bold;
  margin-left: 0.5rem;
  width: auto;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.uploadMsg {
  font-size: 1.3rem;
  align-items: center;
  margin: 1rem 8rem 0rem 42rem;
  flex-direction: column;
  justify-content: center;
}

.uploadButton {
  margin: 2rem 0 0 51rem !important;
}

.submitToCoviusButton {
  margin-left: 41rem !important;
  margin-top: -42px !important;
}

.tabStyle > span {
  flex-direction: row !important;
}

.tabViewDiv{
  width: 100%;
}

.tabPanelStyle > div  {
  padding: 0rem !important;
}

.drap-and-drop-area {
  width: 32rem;
  height: 13rem;
  border: 0.18rem dashed #eaeaea;
  margin: 2rem 0 0 37rem !important;
}

.drap-and-drop-area p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 11rem;
  color: #000000;
  font-family: Arial;
}

.drap-and-drop-area input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
