.contained {
    border-radius: 25px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    margin-right: 1rem !important;
}

.parentDiv {
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .custom {
    float: left !important;
  }

.containedVariant {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  margin-right: 1rem !important;
  color: #fff !important;
}

.customVariant {
  text-align: center !important;
  /* position: absolute !important; */
}

.roundedBorder {
  border: 1px solid #8080808c !important;
  border-radius: 1.5625rem !important;
  color: #8080808c;
  margin-left: 1.5rem !important;
}


.iconGrey {
  color:grey;
}

.remove-circle{
  margin-left: 2rem;
}

.add-circle {
  margin-left: 0;
}

.cancel {
  color: white !important;
  cursor: 'pointer';
  background-color: #01579b !important;
}

.done {
  color: white !important;
  cursor: 'pointer';
  background-color: #01579b !important;
  margin-left: 3rem !important;
}

.monthly-inc {
  font-size: 0.9rem;
  color: dimgrey;
  margin-left: 1rem;
}

.inc-calc-placeholder {
  color: #c6c6c6;
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
}

.taxRem {
	margin-left: 4.3rem;
}


.taxAdd {
  margin-left: 4.3rem;
}

.taxAdd {
  margin-left: 2rem;
}

.default {
  margin :0.5rem 0rem 1rem 1rem;
}