.main-content {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
  flex-direction: column;
  background-color: #f3f5f9;
}

.main-content-expanded {
  composes: main-content;
  max-width: 100%;
}
